#modal-cadastro{
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

#modal-cadastro-conteudo {
  background-color: #fefefe;
  margin: 15% auto; 
  border-radius: 8px;
  width: 80%; 
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.cadastroClose {
  color: #fefefe;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cadastroClose:hover{
  color: red;
}

#modal-cadastro {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#modal-cadastro-header{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #005CA9;
  height: 40px;
  display: flex;
  justify-content: space-between;
  color:#f5f5f5;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  font-size: 0.9rem;
}

#modal-cadastro form {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

#modal-cadastro form label{
  color: #005CA9;
  font-weight: 600;
  font-size: 1.1rem;
}

#modal-cadastro form input{
  color: #5a5959;
  font-size: 1rem;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-indent: 12px;
}

#modal-cadastro form button{
  height: 40px;
  width: 100px;
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  border-radius: 5px;
  font-size: 1rem;
} 